﻿

@{
    ViewBag.Title = "Create";
    }

<h2>Create Product</h2>

<form method="post">
    	<label>Name</label>
    	<input name="Name" />
    
    	<br />
    
    	<label>Description</label>
    	<input name="Description" />
    
    	<br />
    
    	<label>Price</label>
    	<input name="Price" />
    
    	<br />
    
    	<button type="submit">Save</button>
    
</form>

